<?php
$cate = new Category();
$cate->FindById(1);

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hizentai</title>
<?php include_once 'common/css2js.php';?>
<link href="../css/index.css" type="text/css" rel="stylesheet" />
<link href="../css/category.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">
$(function(){
	$('.c-title').click(function(){
		var sub = $(this).parent('li').find('.sub-nav');
		sub.fadeToggle();

		if(sub.css("opacity") == 0)
		{
			$(this).parent('li').addClass("select");
		}
		else
		{
			$(this).parent('li').removeClass("select");
		}
	});
});
</script>
</head>
<body>
<div class="body-container">
<?php include_once 'common/head.php'; ?>
	<?php include_once 'common/search.php'; ?>
	<?php include_once 'common/menu.php'; ?>

	<div class="category-container">
		<div class="c-info"><p>There are so many Superhero character in the movie. They wear their costumes to help others. we provides Spider-man costumes, Superman costume, Green Lantern costume, and other Superhero costumes for sale.</p></div>
		<div class="c-body">
			<div class="c-menu">
				<ul class="menu">
					<li>
						<p class="c-title">ZENTAI</p>
						<div class="sub-nav">
							<ul>
								<li>ZENTAI 1</li>
								<li>ZENTAI 2</li>
								<li> ZENTAI 3</li>
							</ul>
						</div>
					</li>
					<li>
						<p class="c-title">SUPER HERO</p>
						<div class="sub-nav">
							<ul>
								<li>SUPER HERO 1</li>
								<li>SUPER HERO 2</li>
								<li> SUPER HERO 3</li>
							</ul>
						</div>
					</li>
				</ul>
				<p class="liketext">You May Like</p>
					<ul class="maylikes">
						<li>
						<div class="sale-item">
							<img src="/picture/sale-1.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
						</li>
						<li>
							<div class="sale-item">
								<img src="/picture/sale-2.jpg"></img>
								<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
								<p class="price">$65</p>
							</div>
						</li>
						<li>
							<div class="sale-item">
								<img src="/picture/sale-3.jpg"></img>
								<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
								<p class="price">$65</p>
							</div>
						</li>
						<li>
							<div class="sale-item">
								<img src="/picture/sale-4.jpg"></img>
								<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
								<p class="price">$65</p>
							</div>
						</li>
						
					</ul>

			</div>
			<!-- finish menu -->
			<div class="c-detail">
				<div class="detail-container">
				<ul>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-1.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-2.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-3.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-4.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-5.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-6.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
							<div class="sale-item">
								<img src="/picture/sale-5.jpg"></img>
								<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
								<p class="price">$65</p>
							</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-2.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-3.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
							<div class="sale-item">
								<img src="/picture/sale-5.jpg"></img>
								<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
								<p class="price">$65</p>
							</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-2.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-3.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-1.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-2.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
					<li>
						<div class="sale-item">
							<img src="/picture/sale-3.jpg"></img>
							<p class="descr">3D Cut Spiderman Printed Costume with Muscle Shades</p>
							<p class="price">$65</p>
						</div>
					</li>
				</ul>
				<div class="page-index">
					<ul>	
						<li class="page-pre">&lt;&lt;PRE.</li>
						<li>1</li>
						<li>1</li>
						<li>1</li>
						<li>1</li>
						<li class="page-next">NEXT&gt;&gt;</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
<?php include_once 'common/foot.php'; ?>
	
	
	
</div>
 
</body>
</html>