@CHARSET "UTF-8";
.category-container{
	margin-top: 30px;
}
.category-container,.c-info,.c-body
{
	width:100%;

}
.c-info
{
	background: url("/images/categoryBanner.png") no-repeat scroll 0px -1px transparent;
	width:1000px;
	height:147px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}
.c-info p
{
	text-align: left;
	text-indent: 20px;
	margin-left:30px;
}
.c-menu 
{
	width:324px;
	float:left;
	color: rgb(10,77,161);
	min-height:50px;
}
.c-menu .c-title
{
	font-size:22px;
}
.liketext
{
	background-color: #A5539B;
	color: #FFF;
	text-align: center;
	text-indent: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 24px;
	width: 260px;
	margin-left: 30px;
	border-radius: 1px;
	box-shadow: 1px 1px 1px #A5539B;

}
.c-menu .menu
{
	min-height: 250px;
}
.c-menu .menu li , .sub-nav ul li
{
    background: url("/picture/arrow-left.gif") no-repeat scroll 0px -1px transparent;
    text-align: left;
	margin-bottom: 20px;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
}
.c-menu .menu li p, .sub-nav ul li p
{
	margin:0px;
	margin-bottom: 20px;
	cursor: pointer;
}
.c-menu .menu .select
{
	background: url("/picture/arrow-down.gif") no-repeat scroll 0px -1px transparent;
}
.sub-nav
{
	display:none;
}
.sub-nav ul
{
	padding-left: 25px;
}
.c-detail
{
	width:700px;
	float:left;
}
.detail-container ul
{
	margin: 0px;
	padding: 0px;
}
.detail-container ul li
{
	float:left;
	width:233px;
	margin-top:15px;
}
.detail-container .sale-item p
{
	margin:0px;
}
.detail-container .sale-item .descr
{
	font-size: 16px;
	text-align: center;
	color: rgb(124,124,124);
	width: 160px;
	margin-left: 45px;
	margin-top: 15px;
}
.detail-container .sale-item .price
{
	text-align: center;
	color: rgb(147,30,35);
	margin-top: 10px;
}
.maylikes 
{
	border: 1px solid #000;
	margin: 0px;
	padding-left: 0px;
	margin-left: 30px;
	margin-right: 30px;
}
.maylikes  li
{
	margin:0px;
}
.maylikes  .sale-item p
{
	margin:0px;
}
.maylikes  .sale-item img
{
	width:110px;
	height:201px;
}
.maylikes .sale-item .descr
{
	font-size: 14px;
	text-align: center;
	color: rgb(124,124,124);
	width: 160px;
	margin-left: 45px;
	margin-top: 25px;
}
.maylikes .sale-item .price
{
	text-align: center;
	color: rgb(147,30,35);
}
.page-index
{
	position: relative;
	width: 450px;
	height: 40px;
	margin-left: 200px;
	margin-top: 30px;
}
.page-index ul
{
	margin-left:45px;
}
.page-index ul li
{
	float:left;
	width: 32px;
	background-color: rgb(201, 214, 215);
	margin-left: 10px;
	margin-top: 10px;
}
.page-index .page-pre,.page-index .page-next
{
	width:70px;
}
.page-index ul li:hover,
.page-index ul .check
{
	background-color: #8c3ce1;
	cursor: pointer;
}
.sale-item img
{
	height:256px;
}
.page-count
{
	position: absolute;
	left: -120px;
	top: 8px;
	font-size: 18px;
}
.price_check ul
{
	margin:0px;
	padding:0px;
}
.price_check ul li
{
    margin-left: 100px;
    text-align: left;
    width: 200px;
    font-size: 18px;
    margin-top: 10px;
}
.detail-text p
{
	padding:0px;
	margin:0px;
}
.detail-text .dt-head
{
	font-size: 46px;
	color: #A5539B;
	font-weight: bold;
	margin-bottom: 20px;
}
.detail-text .dt-content
{
	font-size: 24px;
	color: #A5539B;
	text-align: left;
}