@CHARSET "UTF-8";
.body-container
{
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
	width:1024px;
}
img
{
	border: none;
}
.index-search,.index-top,.index-menu,.index-adv,.index-category,.index-hotsale
{
	width:100%;
}
.index-top
{
	margin-top: 70px;
}

.index-search
{
	height:60px;
}
.index-search .d-left
{
	height:56px;
	width:250px;
	background:url('/images/world.gif') no-repeat 0px 0px;
	padding-left: 54px;
	
}
.index-search .d-left p
{
	width:194px;
	font-family:Tahoma Bold;
	font-size:24px;
	margin: 7px 0px;
	font-weight: bold;
	color:rgb(123,123,123);
	line-height: 22px;

}
.index-search .d-middle
{
	height:56px;
	width:450px;
	
}
.index-search .d-middle ul
{
	margin:10px;
	text-align: left;
	height:56px;
	padding: 0px;
	width:444px;
}
.bd-left{
	border-left: 4px solid;
	border-top: 4px solid;
	border-bottom: 4px solid;
}
.bd-right{
	border-right: 4px solid;
	border-top: 4px solid;
	border-bottom: 4px solid;
}
.index-search .d-middle ul li
{
	float:left;
	height: 35px;
}
.index-search .d-middle .search-input
{
	width:400px;
	
}
.index-search .d-middle .search-input input
{
	width: 390px;
	height: 32px;
	border: 0px;
	margin-left: 10px;
}

.index-search .d-middle .search-btn
{
	background:url('/images/search-bar.jpg') no-repeat 0px 0px;
	height:35px;
	width:35px;
}

.index-search .d-middle .search-btn:hover
{
	background:url('/images/search-bar-hover.jpg') no-repeat 0px 0px;
}

.index-search .d-right
{
	height:56px;
	width:150px;
	
}

.login-url
{
	font-size: 18px;
	text-decoration: none;
	color: #000;
	padding-top: 20px;
	display: block;
	text-indent: 80px;
}
}
.login-url em
{
	font-size: 5px;
}

.index-search .d-right-most
{
	height:56px;
	width:100px;
}
.cart
{
	background:url('/images/cart.png') no-repeat 0px 0px;
	height:56px;
	margin: 0px;
	position:relative;
}
.cart p
{
	margin-top: 0px;
	margin-left: 60px;
	font-weight: bold;
	font-size: 18px;
	padding-top: 20px;
}
h4 {
    font-size: 12px;
    margin: 0px;
    padding: 0px;

}
.cart ul
{
	margin: 0px;
    padding: 0px;
}
.cart .detail
{
	display:none;
	position: absolute;
	left: -250px;
	width: 350px;
	top: 50px;
	z-index: 99;
	border-width: 0px 1px 1px 1px;
	border: 1px solid #DDD;
	padding: 10px 15px;
	background: none repeat scroll 0% 0% #FFF;
}
.no-goods
{
	float: left;
	width: 58px;
	height: 58px;
	position: absolute;
	left: 20px;
	top: 30px;
	background-position: 0px 0px;
	background-image: url("/images/cart_icon.png");
	background-repeat: no-repeat;
}
.no-goods-text
{
	position: absolute;
	left: 130px;
	top: 45px;
}
#settleup-content {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 350px;
    background: none repeat scroll 0% 0% #FFF;
}
.fl {
    float: left;
    display: inline;
}
.smt {
    height: 25px;
    padding: 6px 8px;
    background-position: 0px -118px;
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    border-color: #DDD #DDD #EEE;
    line-height: 25px;
    background: none repeat scroll 0% 0% #BFFAB1;
}
.smc {
    border-style: solid;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px;
    background: none repeat scroll 0% 0% #FFF;
    height: auto !important;
    max-height: 344px;
    overflow-y: auto;
    overflow: hidden;
}
.smb {
    padding: 8px;
    background: none repeat scroll 0% 0% #F5F5F5;
    border-style: solid;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px 1px;
}
.smb b {
    margin: 0px 5px;
    color: #E4393C;
}
.smb strong {
    font-size: 18px;
    color: #E4393C;
}
.smb a {
    display: inline-block;
    width: 120px;
    height: 30px;
    margin-top: 6px;
    background: none repeat scroll 0% 0% #E4393C;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px;
}
#mcart-mz li {
    padding: 8px 10px;
    border-top: 1px dotted #CCC;
    overflow: hidden;
    line-height: 17px;
    vertical-align: bottom;
}
#mcart-mz li:hover {
	background: none repeat scroll 0% 0% #F5F5F5;
}
#mcart-mz .p-img {
    width: 50px;
    height: 50px;
    border: 1px solid #DDD;
    padding: 0px;
    margin-right: 10px;
    font-size: 0px;
}

#mcart-mz .p-name {
    width: 150px;
    height: 52px;
}
.fr {
    float: right;
    display: inline;
}
.p-name, .p-detail {
    word-break: break-all;
    word-wrap: break-word;
    
}
.p-img, .p-name, .p-price, .p-market, .p-detail  {
    overflow: hidden;
    font-size:12px;
}
.ar {
    text-align: right;
}
.p-price {
    font-weight: 700;
    color: #999;
}
.p-price strong{
    color: #E4393C;
}
.delete {
    color: #005EA7;
}

.index-menu
{
	margin-top:30px;
	height:40px
}
.index-menu ul
{
	list-style: disc;
	color:rgb(231,31,25);	
	font-size: 24px;
	margin-left: -150px;
}
.index-menu ul li
{
	float:left;
	margin-left: 35px;
	font-weight: bold;	
}
.index-menu ul li
{
	position:relative;
}

.index-menu ul li .sub-menu
{
	position: absolute;
	min-width: 300px;
	min-height: 100px;
	border: 1px solid rgb(102, 102, 102);
	z-index: 100;
	background: none repeat scroll 0% 0% white;
	border-radius: 5px;
	box-shadow: 10px 5px 5px #666;
	padding-bottom: 10px;
	padding-top: 10px;
}

.index-adv .shift
{
	margin-left: -40px;
	width:700px;
	height:400px;
	position: relative;
}
.sub-menu
{
	display:none;
}
.super-link
{
	cursor:pointer
}
.super-link:hover
{
	color:red;
}
.sub-menu ul
{
	margin:0px;
	padding: 0px;
}
.sub-menu ul li
{
	color: #666;
	font-size: 20px;
	list-style: outside none none;
	float: none;
	width: 100%;
	margin: 0px;
	text-align: left;
	text-indent: 30px;
	padding-top: 5px;
}
.shift ul li
{
	
	position: absolute;
}
.slide-control
{
    position: absolute;
    left: 550px;
    bottom: 20px;
}
.slide-control span {
    width: 22px;
    height: 22px;
    line-height: 22px;
}
.slide-control span {
    display: inline-block;
    margin: 0px 1px;
    background: none repeat scroll 0% 0% #999;
    text-align: center;
    cursor: default;
    color: #FFF;
    border-radius: 12px;
    font-size:12px;
}
.slide-control .curr {
    background: none repeat scroll 0% 0% #E4393C;
}
.index-adv
{
	margin-top:20px;
}
.index-adv .fix
{
	margin-left:10px;
	width:300px;
}
.index-adv .fix ul li
{
	width: 220px;
	height: 78px;
	border: 3px solid #666;
	margin-bottom: 15px;
	position: relative;
}
.sales
{
	font-family: Tahoma;
	background:url('/images/sales.png') no-repeat 130px 0px;
}
.sales .upto
{
	color:#969696;
	position: absolute;
	left: 30px;
}
.sales .num-70
{
	position: absolute;
    top: 12px;
    left: 32px;
    color: #8d1d22;
    font-size: 42px;
    font-weight: bold;
}

.sales .percent
{
	position: absolute;
	top: 20px;
	left: 88px;
	color: #8D1D22;
	font-weight: bold;
}
.sales .off
{
	position: absolute;
	top: 35px;
	left: 88px;
	color: #8D1D22;
	font-weight: bold;
}
.sales .daily
{
	position: absolute;
	top: 57px;
	left: 30px;
	color: #7b7a7b;
	font-weight: bold;
	font-size:11px;
	
}

.index-category .cate-text,.index-category .cate-pics
{
	width: 950px;
}

.cate-text p
{
	margin:0px;
	font-size: 18px;
	color: rgb(34,91,169);
	text-intent:0px;
	text-align: left;
}
.cate-pics ul,
.index-hotsale ul
{
	width:100%;
	padding: 0px;
	white-space: nowrap;
}
.cate-pics ul li
{
	float:left;
	width:300px;
	height:210px;
	margin-left:5px;
	margin-top:15px;
}
.cate-pics ul li img
{
	width:290px; 
	height:210px
}

.index-hotsale p
{
	text-align: left;
	text-indent: 10px;
	font-size: 24px;
	font-weight: bold;
}
.index-hotsale .sales-container
{
	width:900px;
	position:relative;
	height: 330px;
	overflow: hidden;
}
.index-hotsale ul li
{
	display: inline-block;
	width:300px;
	margin-left:5px;
	margin-top:15px;
}
.sales-container ul
{
	position:absolute;
}
.index-hotsale
{
	height:430px;
	position: relative;
}
.sale-item p
{
	margin:0px;
}
.sale-item .descr
{
	font-size: 14px;
	text-align: center;
	color: rgb(124,124,124);
	width: 210px;
	margin-left: 45px;
	margin-top: 25px;
	overflow: hidden;
}
.sale-item .price
{
	text-align: center;
	color: rgb(147,30,35);
}
.footer
{
	margin-top:80px;
	text-align: left;
}
.footer p
{
	margin:0px;
}
.footer .f-title
{
	font-size:28px;
	margin-bottom:12px;
}
.footer .f-detail
{
	color:rgb(122,123,123);	
}
.footer .banner
{
	margin-top:12px;
	text-align: center;
	margin-bottom:40px;
}
.index-vip
{
	height: 524px;
	background: url("../../images/vip.png");
}

.left-arrow
{
	position: absolute;
	top: 25%;
	left: -10%;
	width: 60px;
	height: 85px;
	cursor: pointer;
	background: url("../../images/left.png");
}
.right-arrow
{
	position: absolute;
	top: 25%;
	right: -5%;
	width: 60px;
	height: 85px;
	cursor: pointer;
	background: url("../../images/right.png");
}