<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Index</title>
<?php include_once 'common/css2js.php';?>
<script type="text/javascript">
$(function(){
	$('.category li').hover(function(){
		var id = $(this).attr("cateid");
		$('.category_detail').each(function(){
			
			if($(this).attr("cateid") == id)
			{
				//$('.adv').hide();
				$(this).show();
			}
		});
		
	},
	function(){
		var id = $(this).attr("cateid");
		$('.category_detail').each(function(){
			if($(this).attr("cateid") == id)
			{
				$(this).hide();
				//$('.adv').show();
			}
		});
	}
	);
});
</script>
</head>
<body>
<?php include_once 'common/header.php';?>
	<div class="body_container">
		<?php include_once 'common/search.php';?>
		<div class="category">
			<h3>CATEGORIES</h3>
			<ul>
				<li cateid=1 ><a>1</a></li>
				<li cateid=2 ><a>1</a></li>
			</ul>
		</div>
		<div class="category_detail" cateid=1>1
		</div>
		<div class="category_detail" cateid=2>2
		</div>
		<div class="adv">
		3
		</div>
		<div class="top_list">
			<span class="title inline">TOP 5</span>
			<ul>	
				<li>
					<div>
						<span class="num left inline">1</span>
						<div class="mid left inline">
							<a title="Black Zentai Suit | Full-body Spandex Lycra Unisex Suit">Black Zentai Suit | Full-body Spandex Lycra Unisex Suit</a>
							<br>
							<span class="items_price">
							    <span class="left instockSalePrice important">							
							        $33.15 - 							
							    </span>
							    <span class="productSalePrice">							
							        $39.00							
							    </span>							
							</span>
						</div>
						<a class="imgt5 left inline">
							<img width="41" height="64" src="/picture/top1.jpg"></img>
						</a>
					</div>
				</li>
				<li>
					<div>
						<span class="num left inline">2</span>
						<div class="mid left inline">
							<a title="Black Zentai Suit | Full-body Spandex Lycra Unisex Suit">Deadpool Costume - Red and Black Premium Zentai Suit</a>
							<br>
							<span class="items_price">
							    <span class="left instockSalePrice important">							
							        $33.15 - 							
							    </span>
							    <span class="productSalePrice">							
							        $39.00							
							    </span>							
							</span>
						</div>
						<a class="imgt5 left inline">
							<img width="41" height="64" src="/picture/top2.jpg"></img>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

 
</body>
</html>11