<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hizentai</title>
<?php include_once 'common/css2js.php';?>
<link href="../css/index.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
$(function(){
	
});
</script>
</head>
<body>
<div class="body-container">
	<div class="index-top">
		<img src="/picture/title.gif"></img>
	</div>
	<?php include_once '/common/search.php'; ?>
	<?php include_once '/common/menu.php'; ?>
	
	
	
	<?php include_once '/common/foot.php'; ?>
	
</div>
 
</body>
</html>